<section>
  <div style="display: inline;">
    <div class="container-div">
      <img src="assets/images/logo-gold.png" alt="Logo Harry Potter" style="height: 120px; padding: 20px 0;">
    </div>
    <div class="container-div">
      <div class="container-button">
        <a class="button" mat-fab extended routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
          <mat-icon>home</mat-icon>
          Home
        </a>
      </div>
      <div class="container-button">
        <a class="button" mat-fab extended routerLink="/personagens" routerLinkActive="active" ariaCurrentWhenActive="page">
          <mat-icon>groups</mat-icon>
          Personagens
        </a>
      </div>
      <div class="container-button">
        <a class="button" mat-fab extended routerLink="/alunos" routerLinkActive="active" ariaCurrentWhenActive="page">
          <mat-icon>school</mat-icon>
          Alunos
        </a>
      </div>
      <div class="container-button">
        <a class="button" mat-fab extended routerLink="/professores" routerLinkActive="active" ariaCurrentWhenActive="page">
          <mat-icon>contacts</mat-icon>
          Professores
        </a>
      </div>
      <div class="container-button">
        <a class="button" mat-fab extended routerLink="/feiticos" routerLinkActive="active" ariaCurrentWhenActive="page">
          <mat-icon>auto_fix_high</mat-icon>
          Feitiços
        </a>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
