section {
  display: table;
  width: 100%;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.container-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-button {
  display: flex;
  justify-content: center;
  padding: 0 8px;
}

.rotate-icon {
  transform: rotate(270deg);
}

.button {
  background-color: #e5d309;
  color: black;
}